<div id="header" class="jumbotron">
  <div class="container text-center pagination-centered">
    <div class="row">
      <div class="col col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2">
        <h1 class="title">{{ userInfo['name'] }}</h1>
        <p class="subtitle">{{ pageInfo['resumeTitle'] }}</p>
        <div class="text-center project-referal">
          <p>This code is available on GitHub.</p>
          <a href="https://github.com/Wrinth/personal_profile_angular4" class="btn btn-primary" target="_blank">See project on Github</a>
        </div>
      </div>
    </div>
  </div>
  <a href="#sidebar" class="scroll-down">
    <span class="glyphicon glyphicon-chevron-down"></span>
  </a>
</div>
