figure {
  position: relative;
  overflow: hidden;
  margin: 3%;
}

figure img {
  width: 110%;
  opacity: 1;
}

figure figcaption {
  padding: 20px 30px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #22A39F;
  opacity: 0.9;
  display: none;
}

figure:hover figcaption {
  display: block;
}

figure:hover img {
  opacity: 0.5;
}

figure p > strong {
  width: 60px;
  display: inline-block;
  margin: 0px;
}

figure h3 {
  color: #FFF;
  font-weight: 600;
  margin-bottom: 5px;
}

figure p > strong {
  width: 60px;
  display: inline-block;
  margin: 0px;
}

figure a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

figure .icon {
  background: #22A39F;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 48px;
  height: 48px;
}

figure .icon span {
  font-size: 18px;
  line-height: 18px;
  padding: 15px;
}
