.row > div {
  margin-bottom: 30px;
}

figure {
  position: relative;
  overflow: hidden;
}

figure.effect {
  background: #22A39F;
  color: #FFF;
}

figure img {
  width: 110%;
}

figure figcaption {
  padding: 20px 30px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

figure p > strong {
  width: 60px;
  display: inline-block;
  margin: 0px;
}

#projects figure h3 {
  color: #FFF;
  font-weight: 600;
  margin-bottom: 5px;
}

figure.effect h3 {
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect p {
  padding-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}
