<nav class="navbar navbar-default" id="sidebar" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="navbar-collapse navbar-ex1-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="" *ngIf="pageInfo['showProfile']"><a href="#profile">Profile</a></li>
      <li class="" *ngIf="pageInfo['showExperiences']"><a href="#experiences">Experiences</a></li>
      <li class="" *ngIf="pageInfo['showAbilities']"><a href="#abilities">Abilities</a></li>
      <li class="" *ngIf="pageInfo['showProjects']"><a href="#projects">Projects</a></li>
      <li class="" *ngIf="pageInfo['showAwards']"><a href="#awards">Awards</a></li>
      <li class="" *ngIf="pageInfo['showContact']"><a href="#contact">Contact</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
