#sidebar {
  border: 0;
  background-color: #222222;
  margin: 0;
}

/*
.navbar .navbar-nav {
  float: none;
}

.navbar-nav {
  margin: 0px;
}

.navbar .nav > li {
  display: block;
  float: none;
  height: 80px;
}
*/
