<h3>Tools</h3>
<div class="row">

  <div class="col-md-6">
    <ul class="no-bullets">


      <li>
        <span class="ability-title">[Tool's name] ([Years] years)</span>
        <span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</span>
      </li>

      <li>
        <span class="ability-title">Chrome (8 years)</span>
        <span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>


				</span>
      </li>




    </ul>
  </div>
  <div class="col-md-6">
    <ul class="no-bullets">

      <li>
        <span class="ability-title">Git / Git Flow (4 year)</span>
        <span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star "></span>
				</span>
      </li>

    </ul>
  </div>
</div>
