#experiences {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(252, 243, 207);
  margin: 0;
  padding: 0;
}

.subtitle {
  text-align: center;
  color: #727878;
}

#experiences .experience {
  margin-bottom: 20px;
}
