<h3>Careers</h3>
<div class="experiences">

  <div class="experience row" *ngFor="let career of userCareersInfo">
    <div class="col-md-4">
      <h4>{{ career['companyName'] }}</h4>
      <p class="experience-period">
        {{ career['startDate'] }}				-
        {{ career['endDate'] }}			</p>
    </div>
    <div class="col-md-8">
      <p>
        <strong>{{ career['jobType'] }} - {{ career['jobTitle'] }}]</strong>
        <span class="hidden-phone">
					 {{ career['jobDuty'] }}</span>
        <br>
        <span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						{{ career['location'] }}</span>
					<span class="seperator">|</span>
					<span class="link">
						<span class="glyphicon glyphicon-link"></span>
						<a [href]="career['companyLink']" target="_blank">Company's website</a>
					</span>
				</span>
      </p>
    </div>
  </div>

</div>
