<h3>Careers</h3>
<div class="experiences">

  <div class="experience row">
    <div class="col-md-4">
      <h4>[Company's name here]</h4>
      <p class="experience-period">
        [Srart Month Year]				-
        [End Month Year]			</p>
    </div>
    <div class="col-md-8">
      <p>
        <strong>[Job type] - [Your job's title here]</strong>
        <span class="hidden-phone">
					 [Your job's duty here]</span>
        <span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						[Location]</span>
					<span class="seperator">|</span>
					<span class="link">
						<span class="glyphicon glyphicon-link"></span>
						<a href="#" target="_blank">[Company's website]</a>
					</span>
				</span>
      </p>
    </div>
  </div>

</div>
