<div class="row">
  <div class="col-md-6">
    <ul class="no-bullets">
      <li>
        <a href="http://twitter.com/[Your account]" target="_blank">
          <span class="icon icon-twitter"></span>
          http://twitter.com/[Your account]</a>
      </li>
      <li>
        <a href="http://linkedin.nl/in/pascalvgemert/" target="_blank">
          <span class="icon icon-linkedin"></span>
          http://linkedin.nl/in/[Your account]/</a>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul class="no-bullets">
      <li>
        <a href="mailto:[Your account]@[Your domain]">
          <span class="icon icon-email"></span>
          <span style="unicode-bidi:bidi-override; direction: rtl;">
						[Your account]@[Your domail=n]</span>
        </a>
      </li>
    </ul>
  </div>
</div>
