<h3>Skills</h3>
<div class="row">


  <div class="col-md-6">
    <ul class="no-bullets">
      <li>
        <span class="ability-title">[Example Skilld]</span>
        <span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</span>
      </li>
      <li>
        <span class="ability-title">Bootstrap Framework</span>
        <span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</span>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul class="no-bullets">
      <li>
        <span class="ability-title">AngularJS</span>
        <span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star "></span>
					<span class="glyphicon glyphicon-star "></span>
					<span class="glyphicon glyphicon-star "></span>
				</span>
      </li>
    </ul>
  </div>

</div>

<div class="text-center project-referal">
  <p>See my other coding project on GitHub.</p>
  <a href="[Your github accout link]" class="btn btn-primary" target="_blank">See project on Github</a>
</div>
